@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 244, 253);
}

.container {
  padding: 60px;
  display: flex;
  margin-left: 5%;
  justify-content: center;
  margin-top: -20px;
}

.flights {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
}

.flight {
  display: flex;
  background-color: white;
  padding: 30px;

  border-radius: 30px;
  border: 0px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  margin-bottom: 45px;
}

.flight-airport {
  margin-left: 20px;
  font-family: "Red Hat Display";
  font-size: 24px;
}
.flight-price {
  font-family: "Montserrat";
  font-size: 30px;
  margin-left: 30px;
}
.TO {
  font-size: 30px;
  font-family: "Montserrat";
  margin-left: 30px;
  margin-right: 10px;
}
#title-xed {
  font-size: 45px;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 30px;
}
.hello {
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  background-color: white;
  width: 200px;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Red Hat Display";
}

header {
  width: 100%;

  position: relative;
  overflow: hidden;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: black;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
  font-family: "Red Hat Display";
}

nav {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand {
  font-size: 45px;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 30px;
  color: black;
}

.brand span {
  color: crimson;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {
  }
  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2.5rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}
