<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xed</title>
    <link rel="stylesheet" href="../static/css/font.css" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <div class="container">
        <div class="hotel_content">
        <div class="info">
            <h2>XED</h2>
        </div>
        <p class="reim">Travelling Reimagined</p>
        <form class="booking_info" method="POST" action="/results">
            <div class="booking_details">
            <div class="item">
                <i class="fa fa-search"></i>
                <input name="origin" placeholder="From?">
            </div>
            <div class="item">
                <input name="to" placeholder="Going to?">
            </div>
            <div class="item">
                <input name="adults" placeholder="Adults">
            </div>
            <button>Search</button>
            </div>
        </form>
        </div>

        <img src="../static/images/hotel.png" class="hotel">
        <img src="../static/images/car1.png" class="car1">
        <img src="../static/images/car2.png" class="car2">
        <img src="../static/images/car3.png" class="car3">
        <img src="../static/images/car4.png" class="car4">
        <img src="../static/images/dog.gif" class="dog_1">
        <img src="../static/images/cloud.png" class="cloud">
        <img src="../static/images/cloud.png" class="cloud_2">
        <img src="../static/images/cloud.png" class="cloud_3">
        <img src="../static/images/cloud.png" class="cloud_4">
    </div>
</body>
</html>